{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <div class="smallForm">
        <h2>Créer un compte</h2>

        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {
                label: 'Nom'
            })  }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <button type="submit" class="btn">s'enregistrer</button>
        {{ form_end(registrationForm) }}

        {# <div class="linkSignIn">
            <p>Pas encore membre?</p>
            <button><a href="{{ path('app_login') }}">Sign in</a></button>
        </div> #}
    </div>
{% endblock %}
