<form method="post" action="{{ path('poll_delete', {'id': poll.id}) }}" onsubmit="return confirm('Supprimer le sondage?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poll.id) }}">
    <button class="delete">supprimer</button>
</form>
