    {{ form_start(form) }}
        {{ form_row(form.question) }}

        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
                <li>Saisir les réponses possibles:</li>
            {% for answer in form.answers %}
                <li>{{ form_widget(answer.answer) }}</li>
            {% endfor %}
        </ul>

        {{ form_widget(form.type) }} {{ form_label(form.type, 'autoriser plusieurs réponses') }}

        {{ form_row(form.status) }}

        <button class="btn">{{ button_label|default('créer') }}</button>
        <button><a href="{{ path('poll_index') }}">liste des sondages</a></button>

    {{ form_end(form) }}
