{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Modifier un sondage</h1>

    <div class="smallContainer">
        {{ include('poll/_form.html.twig', {'button_label': 'mettre à jour'}) }}
        
        {{ include('poll/_delete_form.html.twig') }}
    </div>

{% endblock %}
