{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Sondage</h1>

    {# polls créés par l'utilisateur connecté #}
    <h2>Sondages créées</h2>
        {% for poll in pollsCreated %}
            <div class="indexBlock">
                <div>
                    <h3>{{ poll.question }}</h3>
                    {% if poll.status == false %}
                        <p>enregistré comme brouillon</p>
                    {% endif %}
                </div>
                <div class="btnBlock">
                        <button><a href="{{ path('poll_edit', {'id': poll.id}) }}">modifier</a></button>
                        <button><a href="{{ path('poll_show', {'id': poll.id}) }}">résultats</a></button>
                        <button><a href="{{ path('poll_vote', {'id': poll.id}) }}">voter</a></button>
                </div>
            </div>

        {% else %}
            <div><p>Aucun sondage créée.</p></div>
        {% endfor %}

    {# polls dans lesquels l'utilisateur connecté a voté #}
    <h2>Sondage pour lesquels vous avez voté</h2>
        {% for poll in pollsVoted %}
            <div class="indexBlock">
                <div>
                    <h3>{{ poll.question }}</h3>
                </div>
                <div class="btnBlock">
                        {% if poll.user is same as(thisUser) %}
                            <button><a href="{{ path('poll_edit', {'id': poll.id}) }}">modifier</a></button>
                        {% endif %}
                        <button><a href="{{ path('poll_show', {'id': poll.id}) }}">résultats</a></button>
                </div>
            </div>

        {% else %}
            <div><p>Aucun vote dans un sondage</p></div>
        {% endfor %}


    {# tous les polls du site #}
    <h2>Autres sondages</h2>

        {% for poll in otherPolls %}
            <div class="indexBlock">
                <div>
                    <h3>{{ poll.question }}</h3>
                </div>
                <div class="btnBlock">
                    {% if poll.user is same as(thisUser) %}
                        <button><a href="{{ path('poll_edit', {'id': poll.id}) }}">modifier</a></button>
                    {% endif %}
                        <button><a href="{{ path('poll_show', {'id': poll.id}) }}">résultats</a></button>
                        <button><a href="{{ path('poll_vote', {'id': poll.id}) }}">voter</a></button>
                </div>
            </div>

        {% else %}
            <div><p>Aucun autre sondage</p></div>
        {% endfor %}

    <button><a href="{{ path('poll_new') }}">créer un sondage</a></button>
{% endblock %}
