{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h2>{{ poll.question }}</h2>
    <p>auteur {{ poll.user.name }}</p>

    <ul>
        {% for answer in poll.answers %}
            <li>{{ answer.answer }}
                <ul>
                    {% for user in answer.users %}
                        <li>{{ user.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <button><a href="{{ path('poll_vote', {'id': poll.id}) }}">voter</a></button>
    {% if poll.user is same as(thisUser) %}
        <button><a href="{{ path('poll_edit', {'id': poll.id}) }}">modifier</a></button>
    {% endif %}

    <button><a href="{{ path('poll_index') }}">liste des sondages</a></button>



{% endblock %}
