{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
        <h2>{{ poll.question }}</h2>
        <p>Auteur: {{ poll.user.name }}</p>

            {{ form_start(voteForm) }}
                {% for answer in voteForm.answers %}
                    <div>{{ form_widget(answer) }}{{ form_label(answer) }}</div>
                {% endfor %}

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            <button type="submit">vote</button>
            <button><a href="{{ path('poll_show', {'id': poll.id}) }}">résultats</a></button>
            <button><a href="{{ path('poll_index') }}">liste des sondages</a></button>

            {{ form_end(voteForm) }}

{% endblock %}
