<nav>
    <div>
        <a href="{{ path('home') }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g xmlns="http://www.w3.org/2000/svg"><path d="m106 180.999h345v-105c0-24.853-20.147-45-45-45h-361c-24.853 0-45 20.147-45 45v240c0 24.853 20.147 45 45 45h16v75c0 6.064 3.647 11.543 9.258 13.857 5.528 2.307 12.017 1.078 16.348-3.252l85.605-85.605h38.789v-90h-105c-8.291 0-15-6.709-15-15s6.709-15 15-15h106.518c2.272-11.153 7.231-21.237 13.865-30h-120.383c-8.291 0-15-6.709-15-15s6.709-15 15-15zm0-60h240c8.291 0 15 6.709 15 15s-6.709 15-15 15h-240c-8.291 0-15-6.709-15-15s6.709-15 15-15z" fill="#ffffff" data-original="#000000" style="" class=""/><path d="m467 210.999h-181c-24.814 0-45 20.186-45 45v120c0 24.814 20.186 45 45 45h83.789l55.605 55.605c4.33 4.33 10.82 5.559 16.348 3.252 5.61-2.314 9.258-7.793 9.258-13.857v-45h16c24.814 0 45-20.186 45-45v-120c0-24.814-20.186-45-45-45zm-50.395 100.605-45 45c-5.859 5.859-15.352 5.859-21.211 0l-22.5-22.5c-5.859-5.859-5.859-15.352 0-21.211s15.352-5.859 21.211 0l11.895 11.895 34.395-34.395c5.859-5.859 15.352-5.859 21.211 0s5.859 15.352-.001 21.211z" fill="#ffffff" /></g></svg>
        </a>
    </div>


    {% if app.user %} 
    {# ou {% if is_granted('ROLE_USER') %} #}
        <div>
            Compte:
        {{ app.user.name }} ·  
        <a class="navLink" href="{{ path('app_logout') }}">déconnexion</a>
        </div>
    {% else %}
        <a class="navLink" href="{{ path('app_login') }}">connexion</a>
    {% endif %}

</nav>
